---
- name: Check if RouterBOARD needs an upgrade
  set_fact:
    rb_upgrade_needed: "{{ (rb_fw.stdout[0] | trim) != (rb_fw.stdout[1] | trim) }}"

- name: RouterBOARD upgrade decision
  debug:
    msg: "Current firmware: {{ rb_fw.stdout[0] | trim }}, Available: {{ rb_fw.stdout[1] | trim }}, Upgrade needed: {{ rb_upgrade_needed }}"

- name: Upgrade RouterBOARD + reboot
  community.routeros.command:
    commands:
      - ':execute { /system routerboard upgrade }'
      - ':delay 5'
      - ':execute { /system reboot }'
  failed_when: false
  when: rb_upgrade_needed | bool

- name: Wait after RouterBOARD reboot
  pause:
    seconds: "{{ rb_wait_seconds }}"
  when: rb_upgrade_needed | bool

- name: Verify RouterOS version
  community.routeros.command:
    commands:
      - ':put [/system resource get version]'
  register: ros_ver_tmp
  changed_when: false
  when: rb_upgrade_needed | bool

- name: cache ros_ver
  set_fact:
    ros_ver: "{{ ros_ver_tmp }}"
  when: rb_upgrade_needed | bool

- name: Verify RouterBOARD firmware
  community.routeros.command:
    commands:
      - ':put [/system routerboard get current-firmware]'
      - ':put [/system routerboard get upgrade-firmware]'
  register: rb_fw_tmp
  changed_when: false
  when: rb_upgrade_needed | bool

- name: cache rb_fw
  set_fact:
    rb_fw: "{{ rb_fw_tmp }}"
  when: rb_upgrade_needed | bool

- name: Versions after RouterBOARD upgrade
  debug:
    msg:
      - "RouterOS: {{ ros_ver.stdout[0] | trim }}"
      - "RouterBOARD current: {{ rb_fw.stdout[0] | trim }}"
      - "RouterBOARD upgrade: {{ rb_fw.stdout[1] | trim }}"
  when: rb_upgrade_needed | bool
