---
- name: Check for RouterOS updates
  community.routeros.command:
    commands:
      - /system package update check-for-updates
  changed_when: false

- name: Get latest available RouterOS version
  community.routeros.command:
    commands:
      - ':put [/system package update get latest-version]'
  register: latest_ros_ver
  changed_when: false

- name: Determine if RouterOS upgrade is needed
  set_fact:
    ros_upgrade_needed: "{{ (ros_ver.stdout[0] | trim) is version(latest_ros_ver.stdout[0] | trim, '<') }}"

- name: RouterOS upgrade decision
  debug:
    msg: "Current: {{ ros_ver.stdout[0] | trim }}, Available: {{ latest_ros_ver.stdout[0] | trim }}, Upgrade needed: {{ ros_upgrade_needed }}"

- name: Install RouterOS update
  community.routeros.command:
    commands:
      - /system package update install
  failed_when: false
  when: ros_upgrade_needed | bool

- name: Wait after RouterOS upgrade
  pause:
    seconds: "{{ ros_wait_seconds }}"
  when: ros_upgrade_needed | bool

- name: Verify RouterOS version
  community.routeros.command:
    commands:
      - ':put [/system resource get version]'
  register: ros_ver_tmp
  changed_when: false
  when: ros_upgrade_needed | bool

- name: cache ros_ver
  set_fact:
    ros_ver: "{{ ros_ver_tmp }}"
  when: ros_upgrade_needed | bool

- name: Verify RouterBOARD firmware
  community.routeros.command:
    commands:
      - ':put [/system routerboard get current-firmware]'
      - ':put [/system routerboard get upgrade-firmware]'
  register: rb_fw_tmp
  changed_when: false
  when: ros_upgrade_needed | bool

- name: cache rb_fw
  set_fact:
    rb_fw: "{{ rb_fw_tmp }}"
  when: ros_upgrade_needed | bool

- name: Versions after RouterOS upgrade
  debug:
    msg:
      - "RouterOS: {{ ros_ver.stdout[0] | trim }}"
      - "RouterBOARD current: {{ rb_fw.stdout[0] | trim }}"
      - "RouterBOARD upgrade: {{ rb_fw.stdout[1] | trim }}"
  when: ros_upgrade_needed | bool
